<form>
    <h1>Create new Student</h1>
    
      <div class="forms">
        <!--https://material.angular.io/components/input/examples-->
        <mat-form-field class="form" appearance="fill">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="student.firstName" name="student.firstName" matInput>
        </mat-form-field>
        <mat-form-field class="form" appearance="fill">
            <mat-label>Medium name</mat-label>
            <input [(ngModel)]="student.mediumName" name="student.mediumName" matInput>
        </mat-form-field>
        <mat-form-field class="form" appearance="fill">
            <mat-label>Last name</mat-label>
            <input [(ngModel)]="student.lastName" name="student.lastName" matInput>
        </mat-form-field>
        <!--https://material.angular.io/components/datepicker/examples-->
        <mat-form-field class="data-finalizar" appearance="fill">
            <mat-label>Nascimento</mat-label>
            <input [(ngModel)]="student.birthDate" name="student.birthDate" 
                matInput [matDatepicker]="dp3" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="data-finalizar" appearance="fill">
            <mat-label>Data de inicio</mat-label>
            <input [(ngModel)]="student.startDate" name="student.startDate"
                matInput [matDatepicker]="dp3" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form" appearance="fill">
            <mat-label>Matricula</mat-label>
            <input [(ngModel)]="student.enrollNumber" name="student.enrollNumber">
        </mat-form-field>
        <mat-form-field class="form" appearance="fill">
            <mat-label>Codigo do curso</mat-label>
            <input [(ngModel)]="student.courseId" name="student.courseId">
        </mat-form-field>
        <mat-form-field class="form" appearance="fill">
            <mat-label>Codigo do curso</mat-label>
            <input [(ngModel)]="student.position" name="student.position">
        </mat-form-field>
        <mat-form-field class="form" appearance="fill">
            <mat-label>Codigo do curso</mat-label>
            <input [(ngModel)]="student.email" name="student.email">
        </mat-form-field>
      </div>
      <div class="buttons">
        <!--botões: -->
        <button mat-stroked-button color="primary">Salvar</button>
        <button mat-stroked-button color="warn">Cancelar</button>
      </div>
</form>